@use "./normalize";
@use "./variables";
@use "./mixins";

@use "./components/header";
@use "./components/footer";
@use "./components/slide-menu";
@use "./components/full-calendar-style";
@use "./components/calendar-page";
@use "./components/add-new-item";
@use "./components/budget-page";
@use "./components/analysis-page";
@use "./components/search-page";


@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss';
@import "react-component-tailwindcss/dist/index.css";
@include mixins.export-to-css-vars(variables.$colors);
@include mixins.export-to-css-vars-dark(variables.$colors-dark);

body{
    height: 100dvh;
    overflow: hidden;
    position:relative;
    font-size: 1.3rem;
    background-color: var(--color-background-default);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 768px;
    main{
        height: 82%;
        width: 100%;
        overflow: hidden;
        background-color: var(--color-background-container);
    }
}